<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results Communicators Toastmaster Club</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/stylesheet.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <h1><img src="images/Logo.png" alt="logo" height="42" width="50"> Results Communicators Toastmasters Club</h1>
      <div class="top">
        <div ng-app="">
          <p ng-bind = "date"></p>
        </div>
        <form id="taskForm">
            <input type="text" id="taskIn" name="taskIn" value="" placeholder="Enter New Task">
          <button type="button" name="addTaskButton" id="addTaskButton" class="submit">Add New Task</button>
        </form>
      </div>
      <div class="clearfloat"></div>

      <table id="taskTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="outputTable"></tbody>
        <tbody id="completedTable"></tbody>
      </table>
    </div>
  </body>
</html>
